<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Detail</h1>

    <table border="1">
        <tr>
            <th>작성자</th>
            <td><input type="text" readonly value="{{ dto.myname }}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><input type="text" value="{{ dto.mytitle }}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea cols="60" rows="10" readonly>{{ dto.mycontent }}</textarea></td>
        </tr>
            <td colspan="2" align="right">
                <input type="button" value="목록" onclick="location.href='/'">
                <input type="button" value="수정" onclick="location.href='{% url 'update' dto.id %}'">
                <input type="button" value="삭제" onclick="location.href='{% url 'delete' dto.id %}'">
            </td>
        </tr>
    </table>

</body>
</html>